.card h1{
  margin-bottom: 36px;
}

.card p{
  margin: 0;
}

hr{
  border: none;
  height: 3px !important;
  background: white;
}

.cardDiv{
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 14px;
}
