.mintCard{
  background: transparent !important;
}

.mintCard h1{
  margin-bottom: 36px;
}

.mintCard p{
  margin: 0;
  color: #ffffff;
}

.hr-div{
  border: none;
  height: 2px !important;
  background: white;
  margin: 36px 0px;
}

#perPieceAmt{
  border-bottom: solid 1px rgba(255,255,255,0.2);
}

.modal-dialog{
  max-width: 100vw !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  background-color: #050505;
  color: #f5f5f5;
  transition: none !important;
}

.close{
  color: #F5F5F5;
  background-color: #050505;
  border: none;
}

.modal-content{
  height: 100% !important;
}

.modal-header{
  background-color: #050505;
  color: #f5f5f5;
  border-bottom: solid 1px #050505;
  text-align: center;
}
.modal-title{
  background-color: #050505;
  color: #f5f5f5;
}
.modal-body{
  background-color: #050505;
  color: #f5f5f5;
  padding: 130px 0px ;
}

.cardDiv{
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 14px;
}
