.card h1{
  margin-bottom: 36px;
}

.card p{
  margin: 0;
}

hr{
  border: none;
  height: 3px !important;
  background: white;
  margin: 36px 0;
}

.soldoutDiv{
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  color: #000000;
  font-size: 14px;
}
