.head{
    background-color: black;
    /* margin-top: 5rem; */
    padding: 7rem 35rem;
    z-index: -4;
}
.heading{
    color: white;
    /* text-align: center; */
}

.formtext{
    width: 36px;
}
.tect{
    font-size: 1.5rem !important;
}