.row{
  max-width: 100vw;
}

/* Section-1 */
.section-1{
  max-height: 100vh;
  padding: 120px 0px;
  z-index: -4;
}

.mobile-section{
  visibility: hidden;
  display: none;
}


/* new styles */
.main-section{
  display: flex;
  height: 75vh;
}

.gif-container{
  width: 10%;
  margin-right: auto;
}

.gifWeb{
  width: 10% !important;
}

.gifWeb img{
  height: 100%;
}

.mint-section{
  display: flex;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 33% !important;
  background: transparent !important;
}

.mint-container{
  margin-top: auto;
  margin-bottom: auto;
  width: 100% !important;
}





/* section 2 */

.section-2{
  text-align: center;
  padding: 160px 0px;
  border: solid 5px transparent;
  border-image: linear-gradient(90deg, #0EFFB7, #FF130D, #FFFF00);
  border-image-slice: 1;
}

.section-2 h5{
  padding-top: 12px;
  margin: 0;
}

.section-2 div{
  padding-top: 80px;
}

.section-2 p{
  font-size: 18px !important;
  color: #000000 !important;
}



/* section 3 */

.section-3{
  padding: 120px 0px;
}

.section-3 p{
  margin-bottom: 20px;
}

.section-3 h4{
  padding-top: 80px;
}
.reflect{
  padding-bottom: 48px;
}

.firstrow{
  padding: 48px 24px;
}





/* Section-4 */


.section-4{
  padding: 184px 0px;
  text-align: center;
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
  color: #000000;
}

.section4-row1{
  padding-bottom: 120px;
  margin: 0;
}
.section4-row2{
  margin: 0;
}


/* section-5 */

.section-5{
  padding: 100px 0;
}

.section-5 h1{
  padding: 48px 0;
}

.section-5 h5{
  padding-top: 48px;
}

.section-6{

}

.footer{
  
  padding-top: 10px;
}


@media screen and (max-width: 600px) {
  .footer-brand {
    visibility: hidden;
    display: none;
  }

  .main-section{
    visibility: hidden;
    display: none;
  }

  .mobile-section{
    display: block !important;
    position: relative !important;
    visibility: visible !important;
  }

  .gifWeb {
    position: relative;
    width: 100% !important;
    display: none !important;
  }
  .gifMobile{
    position: relative;
    width: 100%;
    display: block !important;
  }

  .mintComponent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
  }

  .mobileMintComponent{
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
  }

  .section-1{
    padding: 90px 0px;
    z-index: -4;
    height: auto;
  }

  .section-2{
    padding: 120px 0px;
  }

  .subheading{
    float: left;
  }
  p{
    font-size: 18px !important;
  }
}
