.learn-content p{
  font-size: 18px !important;
  color: rgba(0, 0, 0, 0.7) !important;
  margin: 0;
}

.learn-content{
  margin: 90px 0px 90px 0px;
}
.learn-content h2{
  margin: 60px 0px 28px 0px;
}

.learn-content a{
  border-bottom: solid 2px transparent;
  border-image: linear-gradient(30deg, #0EFFB7, #FF130D, #FFFF00);
  border-image-slice: 1;
}

ul{
  margin: 0;
}

li{
  padding: 24px 0px 14px 0px;
  margin: 0;
}

.subheading{
  padding-bottom: 24px;
}
.division-div{
  margin: 80px 0px;
  height: 3px !important;
  background: linear-gradient(60deg, #0EFFB7, #FF0D0D, #FFFF00) !important;
}

.learn-content h4{
  /* font-weight: bold; */
  width: 100%;
}
.learn-content h5{
  /* font-weight: bold; */
  width: 100%;
}

.learn-top-subheading{
  padding-bottom: 24px;
}

@media screen and (max-width: 812px) {
  .learn-content{
    margin: 60px 0px 100px 0px; 
  }
  ul{
    padding-left: 16px;
  }
  .division-div{
    margin: 40px 0px !important;
  }
}
