.homecarousel{
  height: 664px !important;
}

.react-multi-carousel-dot-list{
  visibility: hidden;
}

.react-multiple-carousel__arrow{
  background: transparent;
}
.react-multiple-carousel__arrow:hover{
  background: transparent
}

.left-arrow{
  opacity: 0.4;
  width: 15px;
}
.left-arrow:hover{
  opacity: 1;
}
.right-arrow{
  opacity: 0.4;
  width: 15px;
}
.right-arrow:hover{
  opacity: 1;
}

.react-multiple-carousel__arrow--left::before {
  display: none;
  visibility: hidden;
}

.react-multiple-carousel__arrow--right::before {
  display: none;
  visibility: hidden;
}


@media screen and (max-width: 812px) {
  .homecarousel{
    height: 564px !important;
  }
  .react-multi-carousel-dot-list{
    visibility: visible;
    margin-bottom: 100px;
  }

}